
/* ---------------- Reset ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- Background GIF ---------------- */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('corazon-de-minion-minion.gif') no-repeat center center/cover;
    z-index: -2;
    filter: brightness(0.9);
}

/* ---------------- Body ---------------- */
html, body {
    height: 100%;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-seri
